*{
    padding: 0;
    margin: 0;
}
.info{
    width: 8vw;
    height: 90vh;
}
.output{
    width: 44vw;
    height: 78vh;
}
.panda-image{
    width: 4vw;
    height: 7vh;
    margin-left: 1vw;
    margin-top: -1.5vh;
}
.panda-text{
    font-size: 1.3rem;
}
ul{
    list-style-type: none;
}
li{
    margin-right: 3vh;
    /* padding: 1vh; */
}